.login-main {
  display: flex;
  overflow-y: auto;
}

.login-left {
  flex-grow: 1;
  margin-top: 60px;
  margin-left: 20px;
  height: 80vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left img {
  width: 400px;
}

.login-right {
  height: 100vh;
  flex-grow: 1;
}

.login-right-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-right form {
  width: 100%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
}

.login-logo {
  align-self: center;
  border-radius: 5px;
  margin-top: 20px;
}

.login-center {
  text-align: center;
}

.login-logo img {
  width: 100px;
  height: 100px;
}

.login-center h2 {
  font-size: 35px;
}

.login-center p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 40px;
}

/* Styling for input fields */
form input[type="email"],
form input[type="password"],
form input[type="text"] {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid #222831;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
}

/* Password Input Container */
.pass-input-div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

/* Password Toggle Button */
.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.password-toggle img {
  width: 24px;
  height: 24px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.password-toggle:hover img {
  opacity: 1;
}

form button[type="submit"] {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  background: #222831;
  color: white;
  border: 3px solid #222831;
  transition: background 0.3s, color 0.3s;
}

form button[type="submit"]:hover {
  color: #333;
  background-color: white;
}

.login-center-options {
  display: flex;
  justify-content: space-between;
}

.forgot-pass-link {
  text-decoration: none;
  font-size: 13px;
  color: #76ABAE;
}

.forgot-pass-link:hover {
  text-decoration: underline;
}

.login-center-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.login-bottom-p {
  text-align: center;
  font-size: 15px;
}

.login-bottom-p a {
  text-decoration: none;
  font-weight: 600;
  color: #76ABAE;
}

.login-bottom-p a:hover {
  text-decoration: underline;
}
